@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400;600&family=Manrope:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@import url("fonts/icomoon/style.css");
@import url("/bootstrap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400;600&family=Manrope:wght@700&display=swap');
*{	font-family: 'Cinzel', sans-serif;

}
body{
	background: url(../img/BG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 150vh;
	margin:0;
	padding:0;
	
header{
	font-family: 'Cinzel', sans-serif;
	font-weight: bolder;
	background-color: wheat;
	box-shadow:  12pt 12pt 12pt white;
	color: #000000;


	.logo{
		height: 10vh;
		border-radius: 15pt;
		margin-right: 2vh;
	}

	.marca:hover{
		transform: scale(1.2);
		transition: 1s;
		color: black;

		}



	a{
		margin-right: 10%;
		color: black;

	}
}
.carousel-item{
    min-height: 280px;
	.carousel-caption {
		margin-top: 1%;
		margin-left: 15%;
		margin-right: 15%;
		top: 0;
		bottom: auto;
	}
	p{
		margin-top: 10%;
	}
}
img{
	border-radius: 15pt;
}

.subtitulos{
	color: black;
	background: rgb(189, 189, 189);
    background: linear-gradient(0deg, rgba(163, 163, 163, 0.5) 0%, rgb(255, 255, 255) 100%);
	text-align: center;
	text-shadow: 2pt black;
	font-family: 'Cinzel', sans-serif;
	font-size: 15pt;
	font-weight: 800;
	box-shadow: 2px 2px 2px black;


}
.subtitulos2{
	color: black;
	background: rgb(189, 189, 189);
    background: linear-gradient(0deg, rgba(163, 163, 163, 0.5) 0%, rgb(255, 255, 255) 100%);
	padding: 0%;
	padding-bottom: 2%;
	text-align: center;
	text-shadow: 2pt black;
	font-family: 'Cinzel', sans-serif;
	font-size: 15pt;
	font-weight: 800;
	text-shadow: 1px 1px 1px #000000;
	box-shadow: 2px 2px 2px black;


}
.wrapper{margin:10vh}
//post card styles

.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 min-height:450px;
   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

 @media (max-width: 768px) {
  min-height:350px;
}

@media (max-width: 420px) {
  min-height:300px;
}

 &.card-has-bg{
 transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:120%;
  background-repeat:no-repeat;
  background-position: center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);}

  &:hover {
    transform: scale(0.98);
     box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: rgb(189, 189, 189);
     background: linear-gradient(0deg, rgba(163, 163, 163, 0.5) 0%, rgb(3, 3, 3) 100%);
     }
  }
}
 .card-footer{
  background: none;
   border-top: none;
    .media{
     img{
       border:solid 3px rgba(234,95,0,0.3);
     }
   }
 }
 .card-meta{color:orange}
 .card-body{ 
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
 &:hover {
   .card-body{
     margin-top:30px;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
 background: rgb(31, 31, 31);
background: linear-gradient(0deg, rgba(31, 31, 31, 0.379) 0%, rgb(129, 128, 128) 100%);
}
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#footer {
	margin-top: 10%;
	color:#000000;
	background: linear-gradient(0deg, rgb(165, 164, 164) 0%, rgba(255, 255, 255, 0.671) 100%);
	box-shadow:  12pt 12pt 12pt 12pt white;
	li{
		font-size: 20pt;
		.fa-facebook{
			color: #180083;
		  }
		.fa-instagram{
			color: transparent;
 			background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  			background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  			background-clip: text;
  			-webkit-background-clip: text;
			  font-size: 20pt;
		}
		.fa-google-plus{
			color: rgb(107, 3, 3);
		}


		  }
		  li:hover{
			transform: scale(1.6);
			transition: 0.5s;
	
		}
		
	}


	.portfolio-menu{
		text-align:center;
		.portfolio-menu ul li{
			display:inline-block;
			margin:0;
			list-style:none;
			padding:10px 15px;
			cursor:pointer;
			-webkit-transition:all 05s ease;
			-moz-transition:all 05s ease;
			-ms-transition:all 05s ease;
			-o-transition:all 05s ease;
			transition:all .5s ease;
			
			}
			
		}
		.cajade{
			background-color: rgba(255, 255, 255, 0.905);
			color: rgb(0, 0, 0);
		}

	}	

.item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
	h6{
		margin-top: -2rem;
		color: #00000000;
	}
	&:hover{
		transform: scale(1.2);
		transition: 300ms;
		h6{
			color: #000000;
			transition: 300ms;
			font-weight: 900;
			font-size: 12pt;
			text-shadow: 2px 2px 2px white;
		}
	}
}
.img-fluid{
	box-shadow: 5px 5px 5px rgba(201, 164, 42, 0.644);
	border-radius:  0%;
	&:hover{
		margin-left: -1rem;
		transition: 300ms;
		}

}
@media(max-width: 800px){
	.item{	
		h6{
		font-size: 12pt;
		text-shadow: 1px 1px 1px rgb(0, 0, 0);
	}
}
}

/*Nueva Galeria*/
$color_1: #111;

.container2 {
	.card2 {
		max-width: 300px;
		height: 215px;
		margin: 30px 10px;
		padding: 20px 15px;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
		transition: 0.3s ease-in-out;
		background-color: white;
		&:hover {
			height: 350px;
			.contenido {
				visibility: visible;
				opacity: 1;
				margin-top: -40px;
				transition-delay: 0.3s;
			}
		}
		.imgContainer {
			position: relative;
			width: 250px;
			height: 250px;
			top: -50px;
			left: 10px;
			z-index: 1;
			box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
			:hover{
				transform: scale(2.2);
				transition: 0.3s ease-in-out;
				padding-right: 20%;
				transition-delay: 300ms;
			}
			img {
				height: 175px;
				width: 100%;
				border-radius: 4px;
				transition: 0.3s ease-in-out;

			}
		}
		.contenido {
			position: relative;
			margin-top: -140px;
			padding: 10px 15px;
			text-align: center;
			color: $color_1;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			transition: 0.3s ease-in-out;
		}
	}
}
@media (max-width: 330px) {
	.container {
		.card {
			.imgContainer {
				left: -2px;
			}
		}
	}
}

$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;


#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}
.postcard {
	flex-wrap: wrap;
	display: flex;
	
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	border-radius: 10px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
	color: #ffffff;
  
	  &.dark {
		  background-color: #18151f;
	  }
	  &.light {
		  background-color: #e1e5ea;
	  }
	  
	  .t-dark {
		  color: #18151f;
	  }
	  
	a {
	  color: inherit;
	}
	  
	  h1,	.h1 {
		  margin-bottom: 0.5rem;
		  font-weight: 500;
		  line-height: 1.2;
	  }
	  
	  .small {
		  font-size: 80%;
	  }
  
	.postcard__title {
	  font-size: 1.75rem;
	}
  
	.postcard__img {
	  max-height: 180px;
	  width: 100%;
	  object-fit: cover;
	  position: relative;
	}
  
	.postcard__img_link {
	  display: contents;
	}
  
	.postcard__bar {
	  width: 50px;
	  height: 10px;
	  margin: 10px 0;
	  border-radius: 5px;
	  background-color: #424242;
	  transition: width 0.2s ease;
	}
  
	.postcard__text {
	  padding: 1.5rem;
	  position: relative;
	  display: flex;
	  flex-direction: column;
	}
  
	.postcard__preview-txt {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  text-align: justify;
	  height: 100%;
	}
  
	.postcard__tagbox {
	  display: flex;
	  flex-flow: row wrap;
	  font-size: 14px;
	  margin: 20px 0 0 0;
		  padding: 0;
	  justify-content: center;
  
	  .tag__item {
		display: inline-block;
		background: rgba(83, 83, 83, 0.4);
		border-radius: 3px;
		padding: 2.5px 10px;
		margin: 0 5px 5px 0;
		cursor: default;
		user-select: none;
		transition: background-color 0.3s;
  
		&:hover {
		  background: rgba(83, 83, 83, 0.8);
		}
	  }
	}
  
	&:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background-image: linear-gradient(-70deg, #424242, transparent 50%);
	  opacity: 1;
	  border-radius: 10px;
	}
  
	&:hover .postcard__bar {
	  width: 100px;
	}
  }
  
  @media screen and (min-width: 769px) {
	.postcard {
	  flex-wrap: inherit;
  
	  .postcard__title {
		font-size: 2rem;
	  }
  
	  .postcard__tagbox {
		justify-content: start;
	  }
  
	  .postcard__img {
		max-width: 400px;
		max-height: 100%;
		transition: transform 0.3s ease;
	  }
  
	  .postcard__text {
		padding: 3rem;
		width: 100%;
	  }
  
	  .media.postcard__text:before {
		content: "";
		position: absolute;
		display: block;
		background: #18151f;
		top: -20%;
		height: 130%;
		width: 55px;
	  }
  
	  &:hover .postcard__img {
		transform: scale(1.1);
	  }
  
	  &:nth-child(2n+1) {
		flex-direction: row;
	  }
  
	  &:nth-child(2n+0) {
		flex-direction: row-reverse;
	  }
  
	  &:nth-child(2n+1) .postcard__text::before {
		left: -12px !important;
		transform: rotate(4deg);
	  }
  
	  &:nth-child(2n+0) .postcard__text::before {
		right: -12px !important;
		transform: rotate(-4deg);
	  }
	}
  }
  @media screen and (min-width: 1024px){
		  .postcard__text {
		padding: 2rem 3.5rem;
	  }
		  
		  .postcard__text:before {
		content: "";
		position: absolute;
		display: block;
		
		top: -20%;
		height: 130%;
		width: 55px;
	  }
	  
	.postcard.dark {
		  .postcard__text:before {
			  background: #18151f;
		  }
	}
	  .postcard.light {
		  .postcard__text:before {
			  background: #e1e5ea;
		  }
	}
  }
  
  /* COLORS */
  .postcard .postcard__tagbox .green.play:hover {
	  background: $main-green;
	  color: black;
  }
  .green .postcard__title:hover {
	  color: $main-green;
  }
  .green .postcard__bar {
	  background-color: $main-green;
  }
  .green::before {
	  background-image: linear-gradient(
		  -30deg,
		  $main-green-rgb-015,
		  transparent 50%
	  );
  }
  .green:nth-child(2n)::before {
	  background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
  }
  
  .postcard .postcard__tagbox .blue.play:hover {
	  background: $main-blue;
  }
  .blue .postcard__title:hover {
	  color: $main-blue;
  }
  .blue .postcard__bar {
	  background-color: $main-blue;
  }
  .blue::before {
	  background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
  }
  .blue:nth-child(2n)::before {
	  background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
  }
  
  .postcard .postcard__tagbox .red.play:hover {
	  background: $main-red;
  }
  .red .postcard__title:hover {
	  color: $main-red;
  }
  .red .postcard__bar {
	  background-color: $main-red;
  }
  .red::before {
	  background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
  }
  .red:nth-child(2n)::before {
	  background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
  }
  
  .postcard .postcard__tagbox .yellow.play:hover {
	  background: $main-yellow;
	  color: black;
  }
  .yellow .postcard__title:hover {
	  color: $main-yellow;
  }
  .yellow .postcard__bar {
	  background-color: $main-yellow;
  }
  .yellow::before {
	  background-image: linear-gradient(
		  -30deg,
		  $main-yellow-rgb-015,
		  transparent 50%
	  );
  }
  .yellow:nth-child(2n)::before {
	  background-image: linear-gradient(
		  30deg,
		  $main-yellow-rgb-015,
		  transparent 50%
	  );
  }
  
  @media screen and (min-width: 769px) {
	  .green::before {
		  background-image: linear-gradient(
			  -80deg,
			  $main-green-rgb-015,
			  transparent 50%
		  );
	  }
	  .green:nth-child(2n)::before {
		  background-image: linear-gradient(
			  80deg,
			  $main-green-rgb-015,
			  transparent 50%
		  );
	  }
  
	  .blue::before {
		  background-image: linear-gradient(
			  -80deg,
			  $main-blue-rgb-015,
			  transparent 50%
		  );
	  }
	  .blue:nth-child(2n)::before {
		  background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	  }
  
	  .red::before {
		  background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	  }
	  .red:nth-child(2n)::before {
		  background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	  }
	  
	  .yellow::before {
		  background-image: linear-gradient(
			  -80deg,
			  $main-yellow-rgb-015,
			  transparent 50%
		  );
	  }
	  .yellow:nth-child(2n)::before {
		  background-image: linear-gradient(
			  80deg,
			  $main-yellow-rgb-015,
			  transparent 50%
		  );
	  }
  }
  